1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [6]:
# Iterate from 1 to 100 with step of 1 and print the results (already put the results in a list)

ex1output = []

for i in range(1,100,1):
    if i % 3 == 0 and i % 5 == 0 :
        value = "MickeyMouse"
    elif i % 3 == 0 :
        value = "Mickey"
    elif i % 5 == 0 :
        value = "Mouse"
    else :
        value = i
        
    print(value)
    ex1output.append(value)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

In [11]:
# We have the list ex1output containing all the previous cell results, using list comprehension
# we generate another list with the values replaced

ex1output_replaced = ['DonaldDuck' if word == 'MickeyMouse' 
                      else 'Donald' if word == 'Mickey' 
                      else 'Duck' if word == 'Mouse' 
                      else word 
                      for word in ex1output]

print(ex1output_replaced)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [24]:
# Function that swap the value of two variables using a temporary variable
def swap(a,b):
    temp = a
    a = b
    b = temp
    return a,b

# Function that swap the value of two variables without using a temporary variable using string manipulation
def noTempSwap(a,b):
    typea = type(a)
    typeb = type(b)
    b = str(b) + ":" + str(a)    
    return typeb(b[:b.find(":")]), typea(b[b.find(":")+1:])

a = "Hello:How: ar:e yo:u"
b = 10

print("Original values a=%s, b=%s"% (a, b))
a, b = noTempSwap(a, b)
print("Modified values a=%s, b=%s"% (a, b))

Original values a=Hello:How: ar:e yo:u, b=10
Modified values a=10, b=Hello:How: ar:e yo:u

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [31]:
#Function that finds the euclidean distance between two points 
import math
def euclideanDist(a, b):
    distance = math.sqrt(pow(a[0] - b[0], 2) + pow(a[1] - b[1], 2))
    return distance

u = (3, 0)
v = (0, 4)

print("The distance between %s and %s is %s"% (u, v, euclideanDist(u, v)))

The distance between (3, 0) and (0, 4) is 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [42]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [43]:
# Create a dictionary of key-value pairs in order to count the occurences of a certain characters
ex4dict = dict()

# Iterate through the string and analyze every character(capitalized in order to perform a case-unsensitive analysis)
for i in range(0,len(characters),1):
    key = s[i].capitalize()
    # If the key already exist in the dictionary, increment its value by 1
    if key in ex4dict:
        ex4dict[key] += 1
    # Else create a new key with value 1
    else:
        ex4dict[key] = 1
        
#Sort the dictionary in order to display key-value pairs in descending order with respect of the value
sorted_by_value = sorted(ex4dict.items(), reverse=True, key=lambda kv: kv[1])

print(sorted_by_value)

[(' ', 41), ('E', 22), ('T', 19), ('R', 17), ('I', 14), ('O', 13), ('M', 12), ('F', 10), ('N', 10), ('H', 9), ('S', 9), ('U', 9), ('P', 8), ('A', 7), ('L', 6), ('B', 5), ('C', 3), ('D', 3), ('.', 2), ('1', 2), ('0', 2), ('K', 2), ('W', 2), ('V', 2), ('Y', 2), ('G', 1)]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [48]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [57]:
# Create a dictionary of key-value pairs in order to count the occurences of a certain number
ex5dict = dict()

# Iterate through the string and analyze every number
for i in range(0,len(l),1):
    key = l[i]
    # If the key already exist in the dictionary, delete it
    if key in ex5dict:
        del ex5dict[key]
    # Else create a new key with value 1
    else:
        ex5dict[key] = 1

# Using the keys() method to print only the keys and not their values
print("The unique numbers in the list are:")
print(ex5dict.keys())

The unique numbers in the list are:
[1, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 33, 36, 37, 39, 41, 45, 47, 51, 53, 54, 55, 57, 58, 64, 70, 72, 74, 75, 79, 81, 82, 85, 86, 87, 88, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [58]:
def square(a):
    return a**2

def cube(a):
    return a**3

def sixthpow(a):
    return square(cube(a))
    
num = 4
print("The square of %s is: %s"%(num,square(num)))
print("The cube of %s is: %s"%(num,cube(num)))
print("The 6-th power of %s is: %s"%(num,sixthpow(num)))

The square of 4 is: 16
The cube of 4 is: 64
The 6-th power of 4 is: 4096

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [59]:
# Creation of a list of cubes using a loop and the cube() method declared before
cubes_list = []
for i in range(0, 10, 1):
    cubes_list.append(cube(i))
print("List created using loop: %s"%(cubes_list))
    
# Creation of a list of cubes using a comprehension and the cube() method declared before
cubes_lc = [cube(x) for x in range(0, 10, 1)]
print("List created using list comprehension: %s"%(cubes_lc))

List created using loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
List created using list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [74]:
n = 100
ex8triplets = [(a,b,c) for a in range(1,n+1) for b in range(a,n+1) for c in range(b,n+1) if a**2 + b**2 == c**2]

print('\n'.join('{}: {}'.format(*k) for k in enumerate(ex8triplets)))

0: (3, 4, 5)
1: (5, 12, 13)
2: (6, 8, 10)
3: (7, 24, 25)
4: (8, 15, 17)
5: (9, 12, 15)
6: (9, 40, 41)
7: (10, 24, 26)
8: (11, 60, 61)
9: (12, 16, 20)
10: (12, 35, 37)
11: (13, 84, 85)
12: (14, 48, 50)
13: (15, 20, 25)
14: (15, 36, 39)
15: (16, 30, 34)
16: (16, 63, 65)
17: (18, 24, 30)
18: (18, 80, 82)
19: (20, 21, 29)
20: (20, 48, 52)
21: (21, 28, 35)
22: (21, 72, 75)
23: (24, 32, 40)
24: (24, 45, 51)
25: (24, 70, 74)
26: (25, 60, 65)
27: (27, 36, 45)
28: (28, 45, 53)
29: (28, 96, 100)
30: (30, 40, 50)
31: (30, 72, 78)
32: (32, 60, 68)
33: (33, 44, 55)
34: (33, 56, 65)
35: (35, 84, 91)
36: (36, 48, 60)
37: (36, 77, 85)
38: (39, 52, 65)
39: (39, 80, 89)
40: (40, 42, 58)
41: (40, 75, 85)
42: (42, 56, 70)
43: (45, 60, 75)
44: (48, 55, 73)
45: (48, 64, 80)
46: (51, 68, 85)
47: (54, 72, 90)
48: (57, 76, 95)
49: (60, 63, 87)
50: (60, 80, 100)
51: (65, 72, 97)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [86]:
import math
def normalize(vector):
    squaredsum = 0
    for i in range(0, len(vector), 1):
        squaredsum += vector[i]**2
        
    norm = math.sqrt(squaredsum)
    
    normalizedvalues = []
    for i in range(0, len(vector), 1):
        normalizedvalues.append(vector[i]/norm)
    
    return tuple(normalizedvalues)

vec = (1,1,1,3)
normalized_vec = normalize(vec)

print("The normalized vector is: %s"%(normalized_vec,))

The normalized vector is: (0.2886751345948129, 0.2886751345948129, 0.2886751345948129, 0.8660254037844387)